<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AccountServiceAddress" value="http://localhost:49891/AccountService.svc"/>
        <add key="CardServiceAddress" value="http://localhost:49891/CardService.svc"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>